.body {
  background-color: black;
}
.section {
  position: sticky;
  top: 0;
  z-index: 1002;
  background-color: #000; /* o el color que estés usando en tu estética black + aquamarine */
}


.titulo {
  font-family: "Newsreader", serif;
  color: aquamarine;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 44px;
  margin-top: 39px;
 
}

#playlist{
    background-color: black;
     display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px; 
  justify-content: center;

  margin-top: 70px;
}
.imagenes {
  width: 100%;
  height: 293px;
  object-fit: cover;
  border-radius: 50%;
}
.card{
    background-color: black ;
}
.card-title {
  font-family: "Newsreader", serif;
  color: aquamarine;
}

p {
  color: aquamarine;
font-family: "Newsreader", serif;
  
}

.btn.btn-primary {
font-family: "Newsreader", serif;
  background-color: black;
  color : aquamarine;
  border-color: black;
  
}
 #btnBuscar{
  font-family: "Newsreader", serif;
  background-color: black;
  color : aquamarine  ;
  border-color: black;
  
 }
#inputBusqueda{
  border-color:aquamarine ;
  background-color:darkseagreen;;
  
}


.modal-header {
      background-color: currentcolor;
}
.modal-body {
  background-color: currentColor;
}

.modal-title{
   font-family: "Newsreader", serif;
   color : aquamarine  
}




